<div id="about" class="about-page">
    <h1>About Me</h1>

        <section class="introduction">
            <h2>Introduction</h2>
            <p>
                Hi, I'm Vishal, a dedicated student currently pursuing studies in
                computer programming at Georgian College.
            </p>
        </section>

        <section class="professional-background">
            <h2>Educational Background</h2>
            <p>
                I graduated with a Bachelor's degree in Mathematics from Sardar Patel
                University. My strong analytical background complements my current
                focus on developing robust programming skills.
            </p>
        </section>

        <section class="current-studies">
            <h2>Current Studies</h2>
            <p>
                At Georgian College, I am immersing myself in a variety of programming
                languages and web development technologies, including Java, C#,
                Python, HTML, CSS, JavaScript, Node.js, MATLAB, and CCC (Course on
                Computer Concepts).
            </p>
        </section>

        <section class="personal-touch">
            <h2>Personal Journey</h2>
            <p>
                My journey into computer programming started during my undergraduate
                studies, where I developed a keen interest in problem-solving and
                coding. Outside of academics, I enjoy playing cricket, reading, and
                trekking with friends.
            </p>
        </section>

        <section class="goals">
            <h2>Goals & Aspirations</h2>
            <p>
                My aspiration is to become a proficient full-stack developer,
                utilizing my mathematical insights and programming skills to create
                innovative and efficient software solutions. I am particularly
                interested in exploring the realms of web services and data analysis.
            </p>
        </section>

        <section class="call-to-action">
            <h2>Get in Touch</h2>
            <p>
                I am always looking to connect with fellow students, professionals,
                and mentors. Feel free to <a href="#contact">contact me.</a>
            </p>
        </section>
</div>