<!-- header done -->
    <header>
      <a href="#" class="logo">Vishal.</a>
      <ul class="navlist">
        <li><a href="./index.html" class="first">Home</a></li>
        <li><a href="./About.html" class="first">About me</a></li>
        <li><a href="./projects.html" class="first">Projects</a></li>
        <li><a href="./contact.html" class="first">Contact Me</a></li>
      </ul>

      <div class="nav-right">
        <a href="#" class="nav-btn"></a>
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
    </header>