<header class="header">
    <div class="header-container">
        <div class="logo">
            <img src="/images/Expense_Tracker_Logo.png" alt="App Logo">
            <span class="app-name">Expense Tracker</span>
        </div>
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/home">Main</a>
            <a href="/login">Login</a>
            <a href="/register">register</a>
            <a href="/about">About</a>
        </nav>
        </div>
    </div>
</header>
