<header class="header">
    <div class="header-container">
        <div class="logo">
            <img src="/images/Expense_Tracker_Logo.png" alt="App Logo">
            <span class="app-name">Expense Tracker</span>
        </div>
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/home" id="mainLink" style="display: none;">Main</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/login">Logout</a>
        </nav>
    </div>
</header>

<!-- Place your script here -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    var isAuthenticated = {{isAuthenticated}};

    if (isAuthenticated) {
        var mainLink = document.getElementById('mainLink');
        if (mainLink) {
            mainLink.style.display = 'inline-block';
        }
    }
});
</script>
