<!-- footer  -->

     <footer>
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-about">
                    <h2>About Me</h2>
                    <p>
                        Hi, I'm Vishal, a web developer with a strong background in
                        mathematics and computer programming. Passionate about creating
                        innovative solutions and continuously learning new technologies.
                    </p>
                </div>
                <div class="footer-nav">
                    <h2>Navigation</h2>
                    <ul>
                        <li><a href="/portfolio/views/home.hbs" >Home</a></li>
                        <li><a href="/portfolio/views/about.hbs" >About me</a></li>
                        <li><a href="/portfolio/views/projects.hbs" >Projects</a></li>
                        <li><a href="/portfolio/views/contact.hbs" >Contact Me</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <h2>Follow Me</h2>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/vishal-chavda-1068b41a1/"><i class="ri-linkedin-box-fill"></i></a>
                        <a href="https://github.com/Vishal11799"><i class="ri-github-fill"></i></a>
                        <a href="https://twitter.com/"><i class="ri-twitter-fill"></i></a>
                        <a href="https://www.facebook.com/"><i class="ri-facebook-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Vishal Chavda. All Rights Reserved.</p>
            </div>
        </div>
    </footer>