<div class="auth-container">
    <div class="auth-left-section">
        <img src="/images/images-removebg-preview.png" alt="Product Image" class="auth-product-image">
    </div>
    <div class="auth-right-section">
        <div class="auth-box">
            <div class="auth-header">
                <div class="auth-toggle">
                    <span class="login active">LOGIN</span>
                    <span class="register">SIGN UP</span>
                </div>
            </div>
            <div class="auth-form">
                <img src='/images/Expense_Tracker_Logo.png' alt="Brand Logo" class="auth-logo">
                <form id="login-form">
                    <div class="auth-form-group">
                        <label for="email"><i class="fas fa-user"></i> Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="auth-form-group">
                        <label for="password"><i class="fas fa-lock"></i> Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="auth-btn">LOGIN</button>
                </form>
                <div class="auth-social-login">
                    <span>Or Login With</span>
                    <div class="auth-social-icons">
                        <a href="#" onclick="loginWithGoogle()"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
